

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1728171498615-80 {top: 395px; left: 7px; height: 138px; width: 216px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1728171408644-75 {top: 396px; left: 234px; height: 140px; width: 306px;
        }
        .silex-id-1728171290589-70 {top: 341px; left: 224px; height: 2em; width: 100px;
        }
        .silex-id-1728171305496-72 {top: 340px; left: 331px; height: 2em; width: 100px;
        }
        .silex-id-1728171315947-74 {top: 339px; left: 436px; height: 2em; width: 100px;
        }
        .silex-id-1728170777592-48 {top: 204px; left: 10px; height: 43px; width: 99px;
        }
        .silex-id-1728170713081-47 {top: 157px; left: 9px; height: 47px; width: 100px;
        }
        .silex-id-1728166959267-26 {top: 115px; left: 14px; height: 34px; width: 98px;
        }
        .silex-id-1728170810618-50 {top: 289px; left: 9px; height: 47px; width: 97px;
        }
        .silex-id-1728170790115-49 {top: 249px; left: 9px; height: 39px; width: 96px;
        }
        .silex-id-1728170846951-51 {top: 338px; left: 9px; height: 44px; width: 99px;
        }
        .silex-id-1728171278201-68 {top: 342px; left: 120px; height: 2em; width: 100px;
        }
        .silex-id-1728171168942-63 {top: 250px; left: 119px; height: 2em; width: 100px;
        }
        .silex-id-1728171174323-64 {top: 250px; left: 226px; height: 2em; width: 100px;
        }
        .silex-id-1728171187160-65 {top: 251px; left: 332px; height: 2em; width: 100px;
        }
        .silex-id-1728171202078-66 {top: 251px; left: 437px; height: 2em; width: 100px;
        }
        .silex-id-1728171089724-59 {top: 209px; left: 117px; height: 2em; width: 100px;
        }
        .silex-id-1728167006898-28 {top: 108px; left: 119px; height: 42px; width: 100px;
        }
        .silex-id-1728167052507-29 {top: 108px; left: 222px; height: 43px; width: 100px;
        }
        .silex-id-1728167104700-30 {top: 109px; left: 325px; height: 43px; width: 100px;
        }
        .silex-id-1728167147156-31 {top: 108px; left: 430px; height: 62px; width: 110px;
        }
        .silex-id-1728171068049-58 {top: 162px; left: 117px; height: 2em; width: 100px;
        }
        .silex-id-1728171025160-55 {top: 162px; left: 223px; height: 2em; width: 100px;
        }
        .silex-id-1728171035695-57 {top: 161px; left: 435px; height: 2em; width: 100px;
        }
        .silex-id-1728171029555-56 {top: 161px; left: 330px; height: 2em; width: 100px;
        }
        .silex-id-1728171129134-60 {top: 209px; left: 224px; height: 2em; width: 100px;
        }
        .silex-id-1728171136883-61 {top: 207px; left: 330px; height: 2em; width: 100px;
        }
        .silex-id-1728171160845-62 {top: 205px; left: 435px; height: 2em; width: 100px;
        }
        .silex-id-1728171272390-67 {top: 297px; left: 119px; height: 2em; width: 100px;
        }
        .silex-id-1728171286148-69 {top: 296px; left: 225px; height: 2em; width: 100px;
        }
        .silex-id-1728171310185-73 {top: 298px; left: 435px; height: 2em; width: 100px;
        }
        .silex-id-1728171298685-71 {top: 297px; left: 331px; height: 2em; width: 100px;
        }
        .silex-id-1728171926531-81 {top: 10px; left: 8px; height: 100px; width: 537px;
        }
    