

        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .body-initial {background-color: rgb(255, 255, 255); height: 650px;
        }
        .silex-id-1728155087491-5 {top: 20px; left: 40px; height: 80px; width: 460px; text-align: center;
        }
        .silex-id-1728155217319-7 {top: 120px; left: 40px; height: 24px; width: 120px;
        }
        .silex-id-1728155322323-8 {top: 154px; left: 40px; height: 25px; width: 160px;
        }
        .silex-id-1728155412738-10 {top: 210px; left: 40px; height: 28px; width: 200px;
        }
        .silex-id-1728158600786-21 {top: 182px; left: 38px; height: 1.4em; width: 339px;
        }
        .silex-id-1728158740339-22 {top: 242.5px; left: 42px; height: 1.4em; width: 334px;
        }
        .silex-id-1728158782788-23 {top: 271.5px; left: 42px; height: 1.4em; width: 332px;
        }
        .silex-id-1728155578224-13 {top: 299px; left: 43px; height: 29px; width: 220px;
        }
        .silex-id-1728158838378-24 {top: 332.5px; left: 42px; height: 1.4em; width: 331px;
        }
        .silex-id-1728155713882-17 {top: 374px; left: 34px; height: 136px; width: 251px; display: flex;
        }
        .silex-id-1728155699212-16 {top: 190px; left: 476px; height: 64px; width: 64px;
        }
        .silex-id-1728155993246-19 {top: 264px; left: 478px; height: 64px; width: 64px;
        }
        .silex-id-1728156068876-20 {top: 375px; left: 293px; height: 140px; width: 240px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
    