

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1727529244455-1 {top: 20px; left: 80px; height: 40px; width: 380px;
        }
        .silex-id-1727529325431-2 {top: 100px; left: 60px; height: 20px; width: 240px;
        }
        .silex-id-1727529446386-5 {top: 140px; left: 60px; height: 20px; width: 160px;
        }
        .silex-id-1727529689144-9 {top: 220px; left: 60px; height: 20px; width: 200px;
        }
        .silex-id-1727529747629-10 {top: 320px; left: 58px; height: 140px; width: 200px; display: flex;
        }
        .silex-id-1727529763355-11 {top: 465px; left: 60px; height: 64px; width: 64px;
        }
        .silex-id-1727530216654-12 {top: 320px; left: 280px; height: 140px; width: 240px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1727529424762-3 {top: 170px; left: 60px; height: 1.4em; width: 420px;
        }
        .silex-id-1727529490647-6 {top: 250px; left: 60px; height: 1.4em; width: 420px;
        }
        .silex-id-1727529564433-8 {top: 280px; left: 60px; height: 1.4em; width: 420px;
        }
        .silex-id-1727530255714-13 {top: 505px; left: 726px; height: 64px; width: 64px;
        }
    